<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052836854677-p88rletucq3if1dbnp5l866ko52c5las.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052836854677-p88rletucq3if1dbnp5l866ko52c5las</string>
	<key>API_KEY</key>
	<string>AIzaSyAIYrjo_yAIYMYL2bltY8UaSGfHpwjTie8</string>
	<key>GCM_SENDER_ID</key>
	<string>1052836854677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.janindu.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-app-bfee6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-app-bfee6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052836854677:ios:b73fedb4487c98c267949c</string>
</dict>
</plist>